<app-toolbar></app-toolbar>
<div class="container theme-showcase" role="main">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="card-img-top img-fluid" src="../assets/img/mundial.jpg" alt="Responsive image">
    </div>
    <div class="col-md-7">
        <h2>Sorteo Mundial</h2>
        <p class="lead">
            Sorteo mundial, es ahora o nunca, no desaproveches la oportunidad. 
  Inscribete y podras ser el ganador de un viaje para 4 persona a la fin
  al del mundial de 
  Brasil 2014.
        </p>
    </div>
  </div>
</div>
<hr>
<router-outlet></router-outlet>
