
<h2 class="form-title">Lista de todos los competidores</h2>
<div class="panel panel-default">
    <!--Default panel contents -->
    <div class="panel-heading">Competidores</div>
    <!--Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>Ciudad</th>
            <th>Pais</th>
        </tr>
        </thead>
        
        <tbody>
        <tr *ngFor="let competitor of competitors">
            <td>{{competitor.id}}</td>
            <td>{{competitor.name}}</td>
            <td>{{competitor.surname}}</td>
            <td>{{competitor.age}}</td>
            <td>{{competitor.telephone}}</td>
            <td>{{competitor.cellphone}}</td>
            <td>{{competitor.address}}</td>
            <td>{{competitor.city}}</td>
            <td>{{competitor.country}}</td>
        </tr>
        </tbody>
    </table>
</div>
